In [1]:
import pandas as pd

In [2]:
src_dir1 = 'F://TwitterBotDataset//tweet_dataset_full//genuine_tweets//'
src_dir2 = 'F://TwitterBotDataset//tweet_dataset_full//bot_tweets//'

dst_dir = 'F://TwitterBotDataset//tweet-genuine-data-parts//'
file_name1 = 'genuine_tweets_01.csv'
file_name2 = 'bot_tweets_01.csv'
file_name3 = 'bot_tweets_01.csv'
file_name4 = 'bot_tweets_01.csv'

In [3]:

# importing the csv library
import csv


def printColumns(file_name):
    # opening the csv file by specifying
    # the location
    # with the variable name as csv_file
    with open(file_name) as csv_file:

        # creating an object of csv reader
        # with the delimiter as ,
        csv_reader = csv.reader(csv_file, delimiter = ',')

        # list to store the names of columns
        list_of_column_names = []

        # loop to iterate through the rows of csv
        for row in csv_reader:

            # adding the first row
            list_of_column_names.append(row)

            # breaking the loop after the
            # first iteration itself
            break


    print("Number of cols : ", len(list_of_column_names[0]))
    # printing the result
    print("List of column names : ", list_of_column_names[0])

    
printColumns(src_dir1+file_name1)
printColumns(src_dir2+file_name2)
printColumns(src_dir2+file_name3)
printColumns(src_dir2+file_name4)


# def maxValueInRows(file_name):
#     # opening the csv file by specifying
#     # the location
#     # with the variable name as csv_file
#     with open(file_name) as csv_file:

#         # creating an object of csv reader
#         # with the delimiter as ,
#         csv_reader = csv.reader(csv_file, delimiter = ',')

#         # list to store the names of columns
#         count = 0

#         # loop to iterate through the rows of csv
#         for row in csv_reader:

#             # adding the first row
#             roe_count = max(count, len(row))


#     print("Max value in rows : ", len(list_of_column_names[0]))

# maxValueInRows(src_dir1+file_name1)
# maxValueInRows(src_dir2+file_name2)
# maxValueInRows(src_dir2+file_name3)
# maxValueInRows(src_dir2+file_name4)

Number of cols :  26
List of column names :  ['593932392663912449', 'RT @morningJewshow: Speaking about Jews and comedy tonight at Temple Emanu-El in San Francisco. In other words, my High Holidays.', '<a href=\\http://tapbots.com/tweetbot\\" rel=\\"nofollow\\">Tweetbot for iÎŸS</a>"', '678033', '', '0', '0', '', '593932168524533760', '\\N', '\\N', '', '', '1', '0', '0', '', '', '\\N', '0', '0', '1', 'Fri May 01 00:18:11 +0000 2015', '2015-05-01 02:18:11', '2015-05-01 12:57:19', '2015-05-01 12:57:19']
Number of cols :  25
List of column names :  ['id', 'text', 'source', 'user_id', 'truncated', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'retweeted_status_id', 'geo', 'place', 'contributors', 'retweet_count', 'reply_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'num_hashtags', 'num_urls', 'num_mentions', 'created_at', 'timestamp', 'crawled_at', 'updated']
Number of cols :  25
List of column names :  ['id', 'text', 'source', 'user_id', 'truncated', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'retweeted_status_id', 'geo', 'place', 'contributors', 'retweet_count', 'reply_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'num_hashtags', 'num_urls', 'num_mentions', 'created_at', 'timestamp', 'crawled_at', 'updated']
Number of cols :  25
List of column names :  ['id', 'text', 'source', 'user_id', 'truncated', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'retweeted_status_id', 'geo', 'place', 'contributors', 'retweet_count', 'reply_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'num_hashtags', 'num_urls', 'num_mentions', 'created_at', 'timestamp', 'crawled_at', 'updated']

In [33]:
import glob
import numpy as np

In [34]:

list_of_csv_files = glob.glob(src_dir1 + '/*.csv')
list_of_csv_files.sort()

df = pd.concat([pd.read_csv(fname, encoding_errors='ignore', on_bad_lines='skip', nrows=100) for fname in list_of_csv_files]).head(100)

In [35]:
df.head(5)

,593932392663912449,"RT @morningJewshow: Speaking about Jews and comedy tonight at Temple Emanu-El in San Francisco. In other words, my High Holidays.","<a href=\http://tapbots.com/tweetbot\"" rel=\""nofollow\"">Tweetbot for iΟS</a>""",678033,Unnamed: 4,0,0.1,Unnamed: 7,593932168524533760,\N,...,Unnamed: 16,Unnamed: 17,\N.2,0.4,0.5,1.1,Fri May 01 00:18:11 +0000 2015,2015-05-01 02:18:11,2015-05-01 12:57:19,2015-05-01 12:57:19.1
0,593895316719423488,This age/face recognition thing..no reason pla...,"<a href=\http://twitter.com\"" rel=\""nofollow\""...",678033,NaN,0,0,NaN,0,\N,...,NaN,NaN,\N,0,0,0,Thu Apr 30 21:50:52 +0000 2015,2015-04-30 23:50:52,2015-05-01 12:57:19,2015-05-01 12:57:19
1,593880638069018624,Only upside of the moment I can think of is th...,"<a href=\http://twitter.com\"" rel=\""nofollow\""...",678033,NaN,0,0,NaN,0,\N,...,NaN,NaN,\N,2,0,0,Thu Apr 30 20:52:32 +0000 2015,2015-04-30 22:52:32,2015-05-01 12:57:19,2015-05-01 12:57:19
2,593847955536252928,If you're going to think about+create experien...,"<a href=\http://tapbots.com/tweetbot\"" rel=\""n...",678033,NaN,0,0,NaN,0,\N,...,NaN,NaN,\N,2,0,0,Thu Apr 30 18:42:40 +0000 2015,2015-04-30 20:42:40,2015-05-01 12:57:19,2015-05-01 12:57:19
3,593847687847350272,Watching a thread on FB about possible future ...,"<a href=\http://tapbots.com/tweetbot\"" rel=\""n...",678033,NaN,0,0,NaN,0,\N,...,NaN,NaN,\N,0,0,0,Thu Apr 30 18:41:36 +0000 2015,2015-04-30 20:41:36,2015-05-01 12:57:19,2015-05-01 12:57:19
4,593819412660101121,Don't. Ok? https://t.co/uTXrJ6zvdN,"<a href=\http://instagram.com\"" rel=\""nofollow...",678033,NaN,0,0,NaN,0,\N,...,NaN,NaN,NaN,0,1,0,Thu Apr 30 16:49:15 +0000 2015,2015-04-30 18:49:15,2015-05-01 12:57:19,2015-05-01 12:57:19

In [42]:
dfs = np.array_split(df, 13)

In [43]:
len(dfs)

13

In [44]:
for d in dfs:
    print("{}".format(len(d)))

8
8
8
8
8
8
8
8
8
7
7
7
7