In [1]:
import pandas as pd

In [2]:
src_dir1 = 'F://TwitterBotDataset//tweet_dataset_full//genuine_tweets//'
src_dir2 = 'F://TwitterBotDataset//tweet_dataset_full//bot_tweets//'

dst_dir = 'F://TwitterBotDataset//tweet-genuine-data-parts//'
file_name1 = 'genuine_tweets_01.csv'
file_name2 = 'bot_tweets_01.csv'
file_name3 = 'bot_tweets_01.csv'
file_name4 = 'bot_tweets_01.csv'

In [3]:

# importing the csv library
import csv


def printColumns(file_name):
    # opening the csv file by specifying
    # the location
    # with the variable name as csv_file
    with open(file_name) as csv_file:

        # creating an object of csv reader
        # with the delimiter as ,
        csv_reader = csv.reader(csv_file, delimiter = ',')

        # list to store the names of columns
        list_of_column_names = []

        # loop to iterate through the rows of csv
        for row in csv_reader:

            # adding the first row
            list_of_column_names.append(row)

            # breaking the loop after the
            # first iteration itself
            break


    print("Number of cols : ", len(list_of_column_names[0]))
    # printing the result
    print("List of column names : ", list_of_column_names[0])

    
printColumns(src_dir1+file_name1)
printColumns(src_dir2+file_name2)
printColumns(src_dir2+file_name3)
printColumns(src_dir2+file_name4)


# def maxValueInRows(file_name):
#     # opening the csv file by specifying
#     # the location
#     # with the variable name as csv_file
#     with open(file_name) as csv_file:

#         # creating an object of csv reader
#         # with the delimiter as ,
#         csv_reader = csv.reader(csv_file, delimiter = ',')

#         # list to store the names of columns
#         count = 0

#         # loop to iterate through the rows of csv
#         for row in csv_reader:

#             # adding the first row
#             roe_count = max(count, len(row))


#     print("Max value in rows : ", len(list_of_column_names[0]))

# maxValueInRows(src_dir1+file_name1)
# maxValueInRows(src_dir2+file_name2)
# maxValueInRows(src_dir2+file_name3)
# maxValueInRows(src_dir2+file_name4)

Number of cols :  26
List of column names :  ['593932392663912449', 'RT @morningJewshow: Speaking about Jews and comedy tonight at Temple Emanu-El in San Francisco. In other words, my High Holidays.', '<a href=\\http://tapbots.com/tweetbot\\" rel=\\"nofollow\\">Tweetbot for iÎŸS</a>"', '678033', '', '0', '0', '', '593932168524533760', '\\N', '\\N', '', '', '1', '0', '0', '', '', '\\N', '0', '0', '1', 'Fri May 01 00:18:11 +0000 2015', '2015-05-01 02:18:11', '2015-05-01 12:57:19', '2015-05-01 12:57:19']
Number of cols :  25
List of column names :  ['id', 'text', 'source', 'user_id', 'truncated', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'retweeted_status_id', 'geo', 'place', 'contributors', 'retweet_count', 'reply_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'num_hashtags', 'num_urls', 'num_mentions', 'created_at', 'timestamp', 'crawled_at', 'updated']
Number of cols :  25
List of column names :  ['id', 'text', 'source', 'user_id', 'truncated', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'retweeted_status_id', 'geo', 'place', 'contributors', 'retweet_count', 'reply_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'num_hashtags', 'num_urls', 'num_mentions', 'created_at', 'timestamp', 'crawled_at', 'updated']
Number of cols :  25
List of column names :  ['id', 'text', 'source', 'user_id', 'truncated', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'retweeted_status_id', 'geo', 'place', 'contributors', 'retweet_count', 'reply_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'num_hashtags', 'num_urls', 'num_mentions', 'created_at', 'timestamp', 'crawled_at', 'updated']

In [5]:
import glob

In [29]:

list_of_csv_files = glob.glob(src_dir1 + '/*.csv')
list_of_csv_files.sort()

df = pd.concat([pd.read_csv(fname, encoding_errors='ignore', on_bad_lines='skip', nrows=100) for fname in list_of_csv_files]).head(100)

In [30]:
df.head(5)

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,532627591686275072,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 20:14:48 +0000 2014,2014-11-12 21:14:48,2014-11-12 21:44:09,2014-11-12 21:44:09
1,532624255058706432,http://t.co/HyI5EQKz6Q,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 20:01:32 +0000 2014,2014-11-12 21:01:32,2014-11-12 21:44:09,2014-11-12 21:44:09
2,532513524460052480,"Tutti a tavola, con il filetto di baccalà. htt...","<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 12:41:32 +0000 2014,2014-11-12 13:41:32,2014-11-12 21:44:09,2014-11-12 21:44:09
3,532297646669852672,http://t.co/NAHQ4l2pUy,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Nov 11 22:23:43 +0000 2014,2014-11-11 23:23:43,2014-11-12 21:44:09,2014-11-12 21:44:09
4,532295960807100416,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Nov 11 22:17:01 +0000 2014,2014-11-11 23:17:01,2014-11-12 21:44:09,2014-11-12 21:44:09